NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFyZHktcG9vZGxlLTIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_6nfQZBylBXF2DFMybwHPdywWzNqfJAc9dTRhsSi8z2
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://v18qa2vmwjx7h367cwup:pscale_pw_UkUzBukXaj25YBaIeLIPfC4pY5tCMrfXJTf7YsUPUVA@aws.connect.psdb.cloud/ecommerce-admin?sslaccept=strict'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="djjkc8j2o"
STRIPE_API_KEY = sk_test_51MKC5UAex0J4fr2ZDEDqFioCiaLSao3w30ceVrx0BalGllezu2Q2kKnNggjfTs7K7Zmf9rqAdpXAdIN65aEAK0vF00MU9dMjc0
FRONTEND_STORE_URL= http://localhost:3001